[Desktop Entry]
Name=Maxis Linux Installer

Exec=python /usr/share/maxis-installer/installer

Icon=/usr/share/maxis-installer/images/github.petexy.maxisinstaller.svg

Terminal=false
Type=Application
Categories=GTK; Installer;System;Maxis;Adwaita;
StartupNotify=false
